<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>2</string>
		<key>categoryName</key>
		<string>Food</string>
		<key>categoryImg</key>
		<string>food</string>
		<key>categoryColor</key>
		<string>455a64</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
	<dict>
		<key>categoryId</key>
		<string>1</string>
		<key>categoryName</key>
		<string>Cloths</string>
		<key>categoryImg</key>
		<string>clothes</string>
		<key>categoryColor</key>
		<string>ff5252</string>
	</dict>
</array>
</plist>
